.service-list
	.service-col
		display: block
		figure
			.service-img
				img
					width: 100%
			figcaption
				padding: 10px 0
				.service-name
					+fs(24rem)
					color: $pink
					font-weight: 500