footer
	#modalContact.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalContactLabel', aria-hidden='true')
		.modal-dialog.modal-contact(role='document')
			.modal-content
				.modal-header
					.close(data-dismiss='modal', aria-label='Close') <span class="lnr lnr-cross"></span>
				.modal-body
					.contact-title Liên hệ để biết thêm thông tin
					.contact-info
						ul
							li <span class="lnr lnr-phone-handset"></span>
								a(href="tel:1800 6194") 1800 6194
							li <span class="lnr lnr-link"></span> E:
								a(href="mailto:") info@nitiponclinic.vn
								br
								|F:
								a(href="http://fb.com/NitiponClinicVietnam") fb.com/NitiponClinicVietnam
	section.footer-top
		.container
			.row
				.col-12.col-lg-4
					.footer-col
						.sitelogo
							a(href="#!")
								img(src="img/logo.png", alt="")
						ul.contact-info
							li 
								a(href="mailto:info@nitiponclinic.vn") <span class="lnr lnr-envelope"></span> info@nitiponclinic.vn
							li 
								a(href="tel:028 3520 8878") <span class="lnr lnr-phone-handset"></span> 028 3520 8878
				.col-12.col-lg-4
					.footer-col
						.footer-title Facebook News Feed
						.hashtag
							a(href="#!") nitiponclinic
							a(href="#!") nitiponclinicnv
						.footer-staff
							a(href="#!")
								img(src="img/staff/f1.jpg", alt="")
							a(href="#!")
								img(src="img/staff/f1.jpg", alt="")
							a(href="#!")
								img(src="img/staff/f1.jpg", alt="")
				.col-12.col-lg-4
					.footer-col
						.footer-title Kết nối với chúng tôi
						.social
							a(href="#!") <i class="fa fa-facebook" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-instagram" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-youtube-play" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-google-plus" aria-hidden="true"></i>
							a(href="#!") <i class="fa fa-linkedin" aria-hidden="true"></i>
	section.footer-bottom
		.container
			.footer-wrap
				.copyright Copyright © All Rights Reserved.
				.footer-nav
					a(href="#!") Cơ hội nghề nghiệp
					a(href="#!") Liên hệ