header
	.container
		.header-wrap
			.btn-showmenu <i class="fa fa-bars" aria-hidden="true"></i>
			.overlay
			.sitelogo
				a(href="#!")
					img(src="img/logo.png", alt="")
			.col-right
				nav.menu
					//- .menu-logo
					//- 	.sitelogo
					//- 		a(href="#!")
					//- 			img(src="img/logo.png", alt="")
					.menu-wrap
						ul.menu-link
							li
								a(href="#!") Giới thiệu
							li.has-sub
								a(href="#!") Dịch vụ
								
							li
								a(href="#!") Khuyến mãi
							li
								a(href="#!") Sản phẩm
							li
								a(href="#!") Kiến thức làm đẹp
				.language
					a(href="#!")
						img(src="img/en.png", alt="")
				.search
					.search-toggle <span class="lnr lnr-magnifier"></span>
					.search-wrap
						.searchbox
							input(type="text" placeholder="Tìm kiếm...")
							button.searchbutton <span class="lnr lnr-magnifier"></span>
				.contact
					a(href="#!" data-toggle="modal" data-target="#modalContact") Liên hệ ngay