.container
	.breadcrumb-wrap
		ol.breadcrumb
			li
				a(href="#!") Home
			li
				a(href="#!") Dịch vụ
	section.service-page
		.service-list
			.service-col
				figure
					.service-img
						img(src="img/service/img1.jpg", alt="")
					figcaption
						.service-name Trị liệu bằng tia lazer
						.service-des Laser là một trong những phương pháp hàng đầu điêu trị thâm, nám, tàn nhàng: Sau điều trị da sẽ mịn màn,  điều màu và săn chắc hơn với lỗ chân lông thu nhỏ
						.service-link
							a(href="#!") Xem thêm
			.service-col
				figure
					.service-img
						img(src="img/service/img1.jpg", alt="")
					figcaption
						.service-name Trị liệu bằng tia lazer
						.service-des Laser là một trong những phương pháp hàng đầu điêu trị thâm, nám, tàn nhàng: Sau điều trị da sẽ mịn màn,  điều màu và săn chắc hơn với lỗ chân lông thu nhỏ
						.service-link
							a(href="#!") Xem thêm
			.service-col
				figure
					.service-img
						img(src="img/service/img1.jpg", alt="")
					figcaption
						.service-name Trị liệu bằng tia lazer
						.service-des Laser là một trong những phương pháp hàng đầu điêu trị thâm, nám, tàn nhàng: Sau điều trị da sẽ mịn màn,  điều màu và săn chắc hơn với lỗ chân lông thu nhỏ
						.service-link
							a(href="#!") Xem thêm
			.service-col
				figure
					.service-img
						img(src="img/service/img1.jpg", alt="")
					figcaption
						.service-name Trị liệu bằng tia lazer
						.service-des Laser là một trong những phương pháp hàng đầu điêu trị thâm, nám, tàn nhàng: Sau điều trị da sẽ mịn màn,  điều màu và săn chắc hơn với lỗ chân lông thu nhỏ
						.service-link
							a(href="#!") Xem thêm