.container
	.breadcrumb-wrap
		ol.breadcrumb
			li
				a(href="#!") Home
			li
				a(href="#!") Dịch vụ
	.row
		.col-12.col-lg-3
			.service-sidebar
				h2.home-title.d-none.d-lg-block Dịch vụ
				h1.home-title.clone.d-block.d-lg-none
				.btn-showcate.d-block.d-lg-none Danh mục
				nav.service-cate
					ul
						li.active
							a(href="#!") Trị liệu bằng tia lazer (4)
						li
							a(href="#!") Trị liệu bằng tia lazer (4)
						li
							a(href="#!") Trị liệu bằng tia lazer (4)
						li
							a(href="#!") Trị liệu bằng tia lazer (4)
						li
							a(href="#!") Trị liệu bằng tia lazer (4)
						li
							a(href="#!") Trị liệu bằng tia lazer (4)
						li
							a(href="#!") Trị liệu bằng tia lazer (4)
		.col-12.col-lg-9
			section.service-page
				.service-picture
					img(src="img/service/pic1.jpg", alt="")
				.service-feature
					.feature.active
						.feature-name Da sáng mịn với Facial Therapy
						.feature-des
							.content
								p Giúp làm mịn cấu trúc da và cải thiện độ đàn hồi của da mặt bằng máy áp lạnh, làm dịu mát làn da bằng chất bán dẫn, giúp bạn thư giãn trong quá trình trị liệu với chương trình này
								p 
									strong Hiệu quả lý tưởng cho làn da
								ul
									li Làn da tươi tắn và sáng mịn
									li Thư giãn cho da
								figure
									img(src="img/service/pic2.jpg", alt="")
					.feature
						.feature-name Da sáng mịn với Facial Therapy
						.feature-des
							.content
								p Giúp làm mịn cấu trúc da và cải thiện độ đàn hồi của da mặt bằng máy áp lạnh, làm dịu mát làn da bằng chất bán dẫn, giúp bạn thư giãn trong quá trình trị liệu với chương trình này
								p 
									strong Hiệu quả lý tưởng cho làn da
								ul
									li Làn da tươi tắn và sáng mịn
									li Thư giãn cho da
								figure
									img(src="img/service/pic2.jpg", alt="")
					.feature
						.feature-name Da sáng mịn với Facial Therapy
						.feature-des
							.content
								p Giúp làm mịn cấu trúc da và cải thiện độ đàn hồi của da mặt bằng máy áp lạnh, làm dịu mát làn da bằng chất bán dẫn, giúp bạn thư giãn trong quá trình trị liệu với chương trình này
								p 
									strong Hiệu quả lý tưởng cho làn da
								ul
									li Làn da tươi tắn và sáng mịn
									li Thư giãn cho da
								figure
									img(src="img/service/pic2.jpg", alt="")
					.feature
						.feature-name Da sáng mịn với Facial Therapy
						.feature-des
							.content
								p Giúp làm mịn cấu trúc da và cải thiện độ đàn hồi của da mặt bằng máy áp lạnh, làm dịu mát làn da bằng chất bán dẫn, giúp bạn thư giãn trong quá trình trị liệu với chương trình này
								p 
									strong Hiệu quả lý tưởng cho làn da
								ul
									li Làn da tươi tắn và sáng mịn
									li Thư giãn cho da
								figure
									img(src="img/service/pic2.jpg", alt="")