.container
	.breadcrumb-wrap
		ol.breadcrumb
			li
				a(href="#!") Home
			li
				a(href="#!") Giới thiệu
	section.about-section
		h1.home-title Giới thiệu
		.row
			.col-12.col-lg-7
				.about-content.content
					p Nitipon là một chuỗi phòng khám điều trị và chăm sóc da công nghệ cao hàng đầu Thái Lan.
					p Phòng khám đầu tiên được bác sĩ Nitipon thành lập tại Bangkok vào năm 1991. Chúng tôi sử dụng công nghệ y tế tiên tiến để cung cấp các phương pháp điều trị hiệu quả nhất, đạt các tiêu chuẩn cao nhất về chất lượng. Nitipon là chuỗi phòng khám chuyên khoa da liễu lớn nhất tại Thái Lan, với hơn 140 chi nhánh trên khắp đất nước.
					p Đội ngũ nhân viên của Nitipon luôn tự hào về các thiết bị công nghệ y tế tối tân, hiện đại nhất để mang đến sự hài lòng tuyệt đối cho khách hàng khi sử dụng dịch vụ tại Nitipon. Các bác sĩ của chúng tôi được đào tạo chuyên môn tại trung tâm chuyên khoa da liễu tại Bangkok nhằm đảm bảo họ đều được trang bị kỹ năng và kiến thức chuyên môn để thực hiện các liệu trình hiệu quả, an toàn và chính xác nhất.
					p Trong hơn 25 năm, Nitipon đã nhận được sự tin tưởng tuyệt đối từ các khách hàng Thái Lan và hiện nay, Nitipon đã chính thức có mặt tại Việt Nam.
					.hidden-content
						p
							strong Bác sĩ Nitipon
						p Bác sĩ Nitipon nổi tiếng là một trong những nhà cải tiến dẫn đầu về chăm sóc sắc đẹp tại Thái Lan và trong sự phát triển của ngành công nghiệp thẩm mỹ.
						p Ông được công nhận là người đi đầu ngành trong suốt hơn 25 năm qua. Bác sĩ Nitipon Chaisakulchai tốt nghiệp học vị bác sĩ của trường đại học Chulalongkorn vào năm 1986. Sau một năm làm việc thực tiễn về nhi khoa da liễu, ông đã mở rộng kiến thức y khoa của mình tại học viện Lions Supanhongsa trong hơn 2 năm.
						p Sau đó ông đã thành lập phòng khám Nitipon đầu tiên vào năm 1991 đối diện đại học Ramkhamheng ở Bangkok. Những lời giới thiệu truyền miệng đã khiến cho phòng khám Nitipon của ông ngày càng nổi tiếng, do đó bác sĩ Nitipon đã mở chi nhánh thứ hai của phòng khám tại trung tâm mua sắm Bangkapi vào năm 1997 và một chi nhánh khác tại Seacon Square vào năm 1998.
						p Tiếp nối sau đó là hơn 140 cửa hàng chi nhánh rộng khắp Thái Lan.
						p
							strong Dịch vụ chăm sóc sắc đẹp
						p Các dịch vụ chăm sóc sắc đẹp của phòng khám Nitipon nắm bắt được các vấn đề chính của làn da từ mụn, thâm, nám, tàn nhang, sẹo rỗ và làm trắng da, trẻ hóa da đến định hình khuôn mặt, giảm mỡ hay triệt lông vĩnh viễn. Với kiến thức và hơn 25 năm kinh nghiệm, các chuyên gia của Nitipon luôn sẵn sàng tư vấn những phác đồ điều trị dành riêng cho bạn để đạt kết quả tốt nhất.
					.btn-wrap
						a.btn-viewmore(href="#!") Xem thêm
			.col-12.col-lg-5
				.about-img.d-none.d-lg-block
					img(src="img/about/img1.jpg", alt="")
				.about-img.hidden-content
					img(src="img/about/img1.jpg", alt="")
	section.about-section
		h2.home-title Liên hệ
		.about-store
			.store-title <span class="lnr lnr-map-marker"></span>Hệ thống phòng khám Nitipon
			.store-list
				.row
					.col-12.col-sm-6.col-lg-4
						.store
							ul
								li 
									strong Chi nhánh 1: 
									|112 – 114 Nguyễn Trãi, phường Bến Thành, Quận 1
								li Hotline: 028 3925 5279
								li Giờ mở cửa: 09h00 - 21h00
					.col-12.col-sm-6.col-lg-4
						.store
							ul
								li 
									strong Chi nhánh 1: 
									|112 – 114 Nguyễn Trãi, phường Bến Thành, Quận 1
								li Hotline: 028 3925 5279
								li Giờ mở cửa: 09h00 - 21h00
					.col-12.col-sm-6.col-lg-4
						.store
							ul
								li 
									strong Chi nhánh 1: 
									|112 – 114 Nguyễn Trãi, phường Bến Thành, Quận 1
								li Hotline: 028 3925 5279
								li Giờ mở cửa: 09h00 - 21h00
					.col-12.col-sm-6.col-lg-4
						.store
							ul
								li 
									strong Chi nhánh 1: 
									|112 – 114 Nguyễn Trãi, phường Bến Thành, Quận 1
								li Hotline: 028 3925 5279
								li Giờ mở cửa: 09h00 - 21h00
					.col-12.col-sm-6.col-lg-4
						.store
							ul
								li 
									strong Chi nhánh 1: 
									|112 – 114 Nguyễn Trãi, phường Bến Thành, Quận 1
								li Hotline: 028 3925 5279
								li Giờ mở cửa: 09h00 - 21h00
					.col-12.col-sm-6.col-lg-4
						.store
							ul
								li 
									strong Chi nhánh 1: 
									|112 – 114 Nguyễn Trãi, phường Bến Thành, Quận 1
								li Hotline: 028 3925 5279
								li Giờ mở cửa: 09h00 - 21h00
			.store-contact
				.row
					.col-12.col-sm-6.col-lg-4
						.store-title <span class="lnr lnr-envelope"></span>Email
						ul
							li
								a(href="mailto:info@nitiponclinic.vn") info@nitiponclinic.vn
					.col-12.col-sm-6.col-lg-4
						.store-title <span class="lnr lnr-phone-handset"></span>Điện thoại
						ul
							li
								a(href="tel:028 3520 8878") 028 3520 8878
