section.home-service
	.container
		h1.home-title Dịch Vụ
		.service-content.content
			p Dịch vụ của Nitipon bao gồm các phương pháp điều trị hiện đại nhất trong lĩnh vực chăm sóc da (bao gồm các vấn đề như mụn, đốm đen, làm trắng da, xóa sẹo, thu nhỏ lỗ chân lông, triệt lông, chống lão hóa), giảm cân và tạo hình. Các bác sĩ của chúng tôi luôn sẵn sàng giải đáp mọi thắc mắc của bạn. Liên hệ với chúng tôi để được tư vấn miễn phí.
		.service-list
			.row
				article.col-12.col-sm-6.col-lg-3
					a.service-col(href="#!")
						figure
							.service-img
								img(src="img/service/1.jpg", alt="")
							figcaption
								h2.service-name Trẻ hóa da/ Xóa nhăn/ Tạo hình V-line
				article.col-12.col-sm-6.col-lg-3
					a.service-col(href="#!")
						figure
							.service-img
								img(src="img/service/2.jpg", alt="")
							figcaption
								h2.service-name Trị thâm xóa xẹo
				article.col-12.col-sm-6.col-lg-3
					a.service-col(href="#!")
						figure
							.service-img
								img(src="img/service/3.jpg", alt="")
							figcaption
								h2.service-name Giảm mỡ
				article.col-12.col-sm-6.col-lg-3
					a.service-col(href="#!")
						figure
							.service-img
								img(src="img/service/4.jpg", alt="")
							figcaption
								h2.service-name Tạo hình
section.home-staff
	.container
		h2.home-title Đội ngũ bác sĩ
		.staff-slide
			.item
				.staff
					figure
						.staff-img
							img(src="img/staff/1.jpg", alt="")
						figcaption
							h3.staff-name Bác sĩ Loan
							.staff-des Bác sĩ Loan đã có trên 10 năm kinh nghiệm đáp ứng các nhu cầu về sắc đẹp cho khách hàng. Bác sĩ Loan là một trong những bác sĩ da liễu tiên phong tại Việt Nam. Bác sĩ đã được đào tạo tại Việt Nam, Singapore và tại trung tâm đào tạo Nitipon Thái Lan tại Bangbok. Bác sĩ Loan là một chuyên gia chuyên về điều trị mụn, làm trắng da và tiêm làm đầy da.
			.item
				.staff
					figure
						.staff-img
							img(src="img/staff/1.jpg", alt="")
						figcaption
							h3.staff-name Bác sĩ Loan
							.staff-des Bác sĩ Loan đã có trên 10 năm kinh nghiệm đáp ứng các nhu cầu về sắc đẹp cho khách hàng. Bác sĩ Loan là một trong những bác sĩ da liễu tiên phong tại Việt Nam. Bác sĩ đã được đào tạo tại Việt Nam, Singapore và tại trung tâm đào tạo Nitipon Thái Lan tại Bangbok. Bác sĩ Loan là một chuyên gia chuyên về điều trị mụn, làm trắng da và tiêm làm đầy da.
.container
	.row
		.col-12.col-lg-6
			section.home-product
				h2.home-title Sản phẩm nổi bật
				.product-list
					.row
						article.col-12.col-md-6
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/product/1.png", alt="")
									figcaption
										.product-name Gel Lô Hội Nitipon 25g
						article.col-12.col-md-6
							a.product-col(href="#!")
								figure
									.product-img
										img(src="img/product/1.png", alt="")
									figcaption
										.product-name Gel Lô Hội Nitipon 25g
		.col-12.col-lg-6
			section.home-brand
				h2.home-title Các thương hiệu hợp tác
				.brand-list
					.row
						article.col-12.col-md-6
							a.brand-logo(href="#!")
								img(src="img/brand/1.png", alt="")
						article.col-12.col-md-6
							a.brand-logo(href="#!")
								img(src="img/brand/1.png", alt="")
						article.col-12.col-md-6
							a.brand-logo(href="#!")
								img(src="img/brand/1.png", alt="")
						article.col-12.col-md-6
							a.brand-logo(href="#!")
								img(src="img/brand/1.png", alt="")
						article.col-12.col-md-6
							a.brand-logo(href="#!")
								img(src="img/brand/1.png", alt="")
						article.col-12.col-md-6
							a.btn-viewmore(href="#!") Xem sản phẩm
section.home-news
	.container
		h2.home-title Kiến thức về làm đẹp
		.news-list
			.row
				article.col-12.col-md-6.col-lg-3
					a.news-col(href="#!")
						figure
							.news-img
								img(src="img/news/1.jpg", alt="")
							figcaption
								.news-name Các liệu pháp tiên tiến giúp bạn sỡ hữu một làn da rạng rỡ
				article.col-12.col-md-6.col-lg-3
					a.news-col(href="#!")
						figure
							.news-img
								img(src="img/news/1.jpg", alt="")
							figcaption
								.news-name Các liệu pháp tiên tiến giúp bạn sỡ hữu một làn da rạng rỡ
				article.col-12.col-md-6.col-lg-3
					a.news-col(href="#!")
						figure
							.news-img
								img(src="img/news/1.jpg", alt="")
							figcaption
								.news-name Các liệu pháp tiên tiến giúp bạn sỡ hữu một làn da rạng rỡ
				article.col-12.col-md-6.col-lg-3
					a.news-col(href="#!")
						figure
							.news-img
								img(src="img/news/1.jpg", alt="")
							figcaption
								.news-name Các liệu pháp tiên tiến giúp bạn sỡ hữu một làn da rạng rỡ