.container
	.breadcrumb-wrap
		ol.breadcrumb
			li
				a(href="#!") Home
			li
				a(href="#!") Kiến thức làm đẹp

	section.knowledge-page
		h1.home-title Kiến thức làm đẹp
		.knowledge-content.content
			p Chúng tôi hiểu rằng việc tìm kiếm một phương pháp chăm sóc sắc đẹp phù hợp với bạn là một vấn đề khá khó khăn. Đối với Nitipon, việc khách hàng hiểu rõ về các công nghệ làm đẹp là rất quan trọng và cần thiết. Trong mục này, chúng tôi xin cung cấp đầy đủ những thông tin tổng hợp về các phương pháp điều trị. Khi bạn đã sẵn sàng để thảo luận thêm về những liệu trình, xin vui lòng liên hệ với một trong những phòng khám của chúng tôi để nhận được sự tư vấn tận tình từ các bác sĩ chuyên môn của Nitipon.
		.post-list
			.row.no-gutters
				.col-12.col-lg-6
					.post.big
						figure
							.post-img
								img(src="img/service/img2.jpg", alt="")
							figcaption
								.post-name Mụn - Nỗi ám ảnh có thể được gỡ bỏ
								.post-des Mặc dù đã chăm sóc làn da bằng nhiều cách khác nhau, nhưng nhiều người vẫn không ngăn được sự xuất hiện của mụn vì không biết rõ ngọn nguồn vấn đề
				.col-12.col-lg-6
					.post
						figure
							.post-img
								img(src="img/service/img2.jpg", alt="")
							figcaption
								.post-name Mụn - Nỗi ám ảnh có thể được gỡ bỏ
								.post-des Mặc dù đã chăm sóc làn da bằng nhiều cách khác nhau, nhưng nhiều người vẫn không ngăn được sự xuất hiện của mụn vì không biết rõ ngọn nguồn vấn đề
					.post
						figure
							.post-img
								img(src="img/service/img2.jpg", alt="")
							figcaption
								.post-name Mụn - Nỗi ám ảnh có thể được gỡ bỏ
								.post-des Mặc dù đã chăm sóc làn da bằng nhiều cách khác nhau, nhưng nhiều người vẫn không ngăn được sự xuất hiện của mụn vì không biết rõ ngọn nguồn vấn đề