.container
	.breadcrumb-wrap
		ol.breadcrumb
			li
				a(href="#!") Home
			li
				a(href="#!") Khuyến mãi
section.promotion-register
	.container
		.register-wrap
			.form-wrap
				.module-title Đăng ký nhận khuyến mãi
				.form-group
					input(type="text" placeholder="Họ tên")
				.form-group
					input(type="text" placeholder="Số điện thoại")
				.form-group
					input(type="email" placeholder="Email")
				.form-group
					select 
						option(value="") Bạn muốn trải nghiệm dịch vụ nào?
				.frm-btn
					input(type="submit", value="Đăng ký")
section.promotion-page
	.container
		h1.home-title Khuyến mãi
		.promotion-list
			.row
				.col-12.col-md-6
					a.promotion-img(href="#!")
						img(src="img/banner/ad1.jpg", alt="")
				.col-12.col-md-6
					a.promotion-img(href="#!")
						img(src="img/banner/ad1.jpg", alt="")
				.col-12.col-md-6
					a.promotion-img(href="#!")
						img(src="img/banner/ad1.jpg", alt="")
				.col-12.col-md-6
					a.promotion-img(href="#!")
						img(src="img/banner/ad1.jpg", alt="")
section.promotion-banner
	a.promotion-img(href="#!")
		img(src="img/banner/bigad.jpg", alt="")