.container
	.breadcrumb-wrap
		ol.breadcrumb
			li
				a(href="#!") Home
			li
				a(href="#!") Sản phẩm
	section.product-page
		h1.home-title Sản phẩm
		.row
			.col-12.col-lg-6
				.product-slide-wrap
					.product-slide
						.item
							a.img(href="img/product/3.png" data-fancybox="product")
								img(src="img/product/3.png", alt="")
					.product-nav
						.item
							.img
								img(src="img/product/3.png", alt="")
			.col-12.col-lg-6
				.product-info
					h1.product-name Nitipon PK C Serum 30g
					.product-overview.content
						p PK C-Serum: Với công thức vitamin C tự nhiên làm mất tác dụng của các gốc tự do là một trong những nguyên nhân gây lão hoá da. Nitipon PK C Serum kích thích khả năng sản sinh Collagen và Elastin mang lại một làn da khoẻ mạnh hơn và hoàn hảo hơn nhờ quá trình này tác động từ dưới các lớp biểu bì của da. Thành phần Vitamin C trong serum sẽ làm da mềm mịn, sáng hơn và làm mờ đi những vết thâm. Serum thẩm thấu nhanh chóng vào da mà không hề tạo cảm giác nhờn dính.
						p Hướng dẫn sử dụng: Thoa đều lên toàn bộ vùng mặt buổi sáng và buổi tối trước khi đi ngủ.
					.product-order
						a.btn-buy(href="#!" data-toggle="modal" data-target="#exampleModal") Mua ngay
						.input-number
							.btn-spin.btn-dec -
							input(type="text")
							.btn-spin.btn-inc +
					#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
						.modal-dialog.modal-order(role='document')
							.modal-content
								.modal-header
									.close(data-dismiss='modal', aria-label='Close') <i class="material-icons">close</i>
								.modal-body
									.order-form
										.module-title Bạn đang đặt hàng 
											strong Kem dưỡng ẩm cho da nhạy cảm Nitipon 15g x1
										.form-row
											.form-group.col-12
												input(type="text" placeholder="Họ tên")
											.form-group.col-12
												input(type="text" placeholder="Số điện thoại")
											.form-group.col-12
												input(type="text" placeholder="Địa chỉ")
											.form-group.col-12.col-md-6
												input(type="text" placeholder="Phường")
											.form-group.col-12.col-md-6
												input(type="text" placeholder="Quận")
											.form-group.col-12
												input(type="text" placeholder="Email")
											.form-group.col-12
												textarea(name="", cols="", rows="3" placeholder="Ghi chú")
										.frm-btn
											input(type="submit", value="Mua ngay")
					.share
						a.fa.fa-facebook(href="#!")
						a.fa.fa-google-plus(href="#!")
						a.fa.fa-twitter(href="#!")
	section.service-other
		h2.home-title Dịch vụ liên quan
		.service-list
			.row
				article.col-12.col-sm-6.col-lg-3
					a.service-col(href="#!")
						figure
							.service-img
								img(src="img/service/1.jpg", alt="")
							figcaption
								h2.service-name Trẻ hóa da/ Xóa nhăn/ Tạo hình V-line
				article.col-12.col-sm-6.col-lg-3
					a.service-col(href="#!")
						figure
							.service-img
								img(src="img/service/2.jpg", alt="")
							figcaption
								h2.service-name Trị thâm xóa xẹo
				article.col-12.col-sm-6.col-lg-3
					a.service-col(href="#!")
						figure
							.service-img
								img(src="img/service/3.jpg", alt="")
							figcaption
								h2.service-name Giảm mỡ
				article.col-12.col-sm-6.col-lg-3
					a.service-col(href="#!")
						figure
							.service-img
								img(src="img/service/4.jpg", alt="")
							figcaption
								h2.service-name Tạo hình