.container
	.breadcrumb-wrap
		ol.breadcrumb
			li
				a(href="#!") Home
			li
				a(href="#!") Sản phẩm
	section.product-page
		h1.home-title Sản phẩm
		.product-list
			.row
				article.col-6.col-sm-6.col-md-4.col-lg-3
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/1.png", alt="")
							figcaption
								.product-name Gel Lô Hội Nitipon 25g
				article.col-6.col-sm-6.col-md-4.col-lg-3
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/1.png", alt="")
							figcaption
								.product-name Gel Lô Hội Nitipon 25g
				article.col-6.col-sm-6.col-md-4.col-lg-3
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/1.png", alt="")
							figcaption
								.product-name Gel Lô Hội Nitipon 25g
				article.col-6.col-sm-6.col-md-4.col-lg-3
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/1.png", alt="")
							figcaption
								.product-name Gel Lô Hội Nitipon 25g
				article.col-6.col-sm-6.col-md-4.col-lg-3
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/1.png", alt="")
							figcaption
								.product-name Gel Lô Hội Nitipon 25g
				article.col-6.col-sm-6.col-md-4.col-lg-3
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/1.png", alt="")
							figcaption
								.product-name Gel Lô Hội Nitipon 25g
				article.col-6.col-sm-6.col-md-4.col-lg-3
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/1.png", alt="")
							figcaption
								.product-name Gel Lô Hội Nitipon 25g
				article.col-6.col-sm-6.col-md-4.col-lg-3
					a.product-col(href="#!")
						figure
							.product-img
								img(src="img/product/1.png", alt="")
							figcaption
								.product-name Gel Lô Hội Nitipon 25g
		.pages
			ul.pagination
				li.active
					a(href="#!") 1
				li
					a(href="#!") 2
				li
					a(href="#!") 3
				li
					a(href="#!") 4